/* SESSAO HEADER */
header {
    width: 100%;
    /*Pega a largura do dispositivo*/
    height: 64px;
    display: flex;
    justify-content: center;
    /*Horizontal*/
    align-items: center;
    /*Vertical*/
}

header>p {
    color: var(--preto);
    font-weight: 500;
    font-size: 24px;
}

/* SESSAO BANNER */
#banner {
    width: 100%;
    /*OU 100%*/
    height: 400px;
    background-image: url(../assets/images/image-michael-jordan.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*Acompanha o tamanho do elemento*/
    padding: 5% 10%;
    /*OU 10VW*/

    display: flex;
    align-items: center;
}

#banner>div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#logo {
    width: 180px;
}

#banner>div>span {
    color: var(--branco);
    font-weight: 500;
    font-size: 32px;
}

#banner>div>p {
    color: var(--branco);
    font-weight: 400;
    font-size: 24px;
    max-width: 515px;
}

/* SESSAO MAIN */
main {
    padding: 0 5%;
}

.main_cabecalho {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_cabecalho>h2 {
    color: var(--preto);
    font-size: 32px;
    font-weight: 600;
}

.main_cabecalho>p {
    color: var(--preto);
    font-size: 24px;
    font-weight: 400;
    max-width: 585px;
    margin-top: 24px;
}

/* SESSAO SECTION */
#section_tenis{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    margin-top: 72px;
    margin-bottom: 40px;
}

#section_tenis>div{
    width: 100%;
    max-width: 384px;
    height: 326px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    align-items: flex-start;
}

.div_card_tenis_imagem{
    width: 100%;
    height: 200px;
    background-color: var(--azulPastelComOpacidade);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_card_tenis_nome{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.div_card_tenis_nome>p:nth-child(1){
    color: var(--preto);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}
.div_card_tenis_nome>p:nth-child(2){
    color: var(--azulPastel);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
.span_card_tenis_{
    font-weight: 500;
    font-size: 20px;
    color: var(--preto);
    line-height: 25px;
}



/* SESSÃO TENIS 2 */
.div_card_tenis_imagem_2{
    width: 100%;
    height: 200px;
    background-color: var(--azulPastelComOpacidade);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.div_card_tenis_nome_2{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.div_card_tenis_nome_2>p:nth-child(1){
    color: var(--preto);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}
.div_card_tenis_nome_2>p:nth-child(2){
    color: var(--azulPastel);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

.span_card_tenis_2{
    font-weight: 500;
    font-size: 20px;
    color: var(--preto);
    line-height: 25px;
}