@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", serif;
}

:root{
    --branco: #ffffff;
    --preto: #121214;
    --azulPastel: #7CA2F4;
    --azulPastelComOpacidade: #F3F7FF;
}

body{
    background-color: var(--branco);
}